.settings/
emk/
events/
fotoalbums/
include/db.php
include/db_remote.php
nieuws/
nieuwsbrief/
pdfs/

**/*.bak
**/*.cmd
**/*.csv
**/*.jar
**/*.java
**/*.xls

.buildpath
.gitignore
.project
favicon.ico
gitcommit.cmd

