.settings/
emk/
events/
fotoalbums/
fotos/
include/db.php
include/db_remote.php
nieuws/
nieuwsbrief/
pdfs/

**/emk.*
**/*.bak
**/*.csv
**/*.jar
**/*.java
**/*.txt
**/*.xls

index.html
.buildpath
.gitignore
.project
favicon.ico
generate_album.cmd

Emk.html
